.lesson-content-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson-content-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-100);
}
.lesson-content-logo {
  width: auto;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.lesson-content-eosiconsmachinelearningoutlined {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-right: var(--dl-space-space-halfunit);
}
.lesson-content-text {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lesson-content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lesson-content-home {
  font-size: 16px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.lesson-content-home:hover {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: .5px;
  padding-bottom: .5px;
}
.lesson-content-home1 {
  font-size: 16px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.lesson-content-home1:hover {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: .5px;
  padding-bottom: .5px;
}
.lesson-content-home2 {
  font-size: 16px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.lesson-content-home2:hover {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: .5px;
  padding-bottom: .5px;
}
.lesson-content-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson-content-login {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.lesson-content-login:hover {
  color: var(--dl-color-gray-black);
  border-radius: var(--dl-radius-radius-radius4);
  background-color: transparent;
}
.lesson-content-register {
  color: rgb(0, 0, 0);
  transition: 0.3s;
  background-color: transparent;
}
.lesson-content-register:hover {
  color: var(--dl-color-default-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: var(--dl-color-gray-black);
}
.lesson-content-burger-menu {
  display: none;
}
.lesson-content-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson-content-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson-content-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-content-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson-content-image {
  height: 2rem;
}
.lesson-content-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson-content-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson-content-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson-content-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson-content-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson-content-blog {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 810px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.lesson-content-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.lesson-content-text11 {
  width: 100%;
}
.lesson-content-container3 {
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.lesson-content-register1 {
  color: rgb(0, 0, 0);
  height: var(--dl-size-size-small);
  display: flex;
  font-size: 20px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  flex-direction: row;
  background-color: transparent;
}
.lesson-content-register1:hover {
  color: var(--dl-color-default-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: var(--dl-color-gray-black);
}
.lesson-content-text26 {
  align-self: center;
}
.lesson-content-button {
  color: rgb(255, 255, 255);
  width: auto;
  height: var(--dl-size-size-small);
  display: flex;
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  background-color: rgb(0, 0, 0);
}
.lesson-content-button:hover {
  color: var(--dl-color-default-white);
  border-color: var(--dl-color-default-white);
  background-color: var(--dl-color-gray-500);
}
.lesson-content-button:active {
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-default-white);
}
.lesson-content-text29 {
  width: 100%;
  align-self: center;
  text-align: center;
}
.lesson-content-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-100);
}
.lesson-content-logo1 {
  width: 174px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.lesson-content-text32 {
  left: 32px;
  color: var(--dl-color-default-black);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lesson-content-eosiconsmachinelearningoutlined1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  align-self: center;
}
.lesson-content-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson-content-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson-content-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson-content-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .lesson-content-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson-content-nav {
    display: none;
  }
  .lesson-content-btn-group {
    display: none;
  }
  .lesson-content-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson-content-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson-content-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson-content-text34 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .lesson-content-header {
    padding: var(--dl-space-space-unit);
  }
  .lesson-content-mobile-menu {
    padding: 16px;
  }
  .lesson-content-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson-content-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .lesson-content-text34 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
